.HintPanelContainer {
  position: fixed;
  top: 20px; /* Adjust this value to control vertical position */
  left: 15%; /* Adjust this value to control horizontal position */
  width: 45%;
  height: 60px;
  border-radius: 50px;
  background-color: white; /* Change the color as needed */
  color: black;
  border: none;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
