body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #a3d4f7; /* Dark background */
}

.header {
  width: 100%;
  position: relative;
  z-index: 1; /* Ensure the button stays above other content */
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 60px); /* Subtract header height to avoid overlap */
  position: relative;
  z-index: 0;
}

.map-wrapper {
  width: 70%;
  height: 100%;
  position: relative;
  z-index: 0;
}
