.ProfileButton {
    position: fixed;
    top: 20px; /* Adjust this value to control vertical position */
    left: 20px; /* Adjust this value to control horizontal position */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50; /* Change the color as needed */
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ProfileButton:hover {
    background-color: #45a049; /* Add hover effect */
  }
  
  .ProfileIcon {
    width: 100%;
  }