body {
  font-family: "Inter", sans-serif;
}

/* The sidebar panel itself */
.Settings {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full-height */
  width: 0%; /* Initially hidden */
  position: fixed; /* Stay in place */
  top: 0;
  right: 0; /* Change 'left' to 'right' for right-side panel */
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* Animation for sliding */
  justify-content: center;
}
/* The sidebar when open */
.Settings.open {
  width: 30%; /* Adjust the width as needed */
}

.TopPanel {
  height: 450px;
  background-color: #fdd020;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: center;
}

.TopPanelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px; /* Add some padding if needed */
  box-sizing: border-box;
  position: absolute;
  top: 20px;
}

.TopPanelHeader .TitleContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.TopPanelHeader h4 {
  color: white;
  font-size: 30px;
}

.TopPanelHeader .ButtonContainer {
  align-items: center; /* Center vertically */
  margin-left: auto;
  display: flex;
  gap: 10px; /* Adjust gap as needed */
}

.Settings .material-icons {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.TopPanel .ProfileIconCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.TopPanel .ProfileIcon {
  font-size: 50px;
  color: black;
}

.TopPanel .UserName {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
  padding-top: 20px;
}

.TopPanel .UserEmail {
  font-size: 18px;
  color: #303030;
  margin-top: -25px;
}

.TopPanel .UserPreferences {
  display: flex;
  gap: 10px; /* Space between tags */
  margin-top: 50px;
  margin-bottom: -50px; /* Space above the tags */
}

.TopPanel .PreferenceTag {
  background-color: white;
  font-weight: bold;
  color: #303030;
  padding: 7px 25px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* This will change the mouse pointer to a hand */
}

.BottomPanel {
  flex: 1; /* Take up the remaining space */
  background-color: white;
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex; /* Use Flexbox */
  flex-direction: column; /* stacked vertically */
  align-items: center; /* center horizontally */
}

.BottomPanel h4 {
  font-weight: bold;
  font-size: 20px;
}

.ActivityTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ActivityTable th,
.ActivityTable td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

.ActivityTable th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.ActivityTable td {
  color: #555;
}

.LogoutButton {
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  background-color: #ec5353;
  color: white;
  padding: 9px 150px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center text horizontally */
}

.LogoutButton .material-icons {
  margin-right: 10px;
  font-size: 25px;
}

.LogoutButton:hover {
  background-color: #ff1a1a;
}
