/* The button to toggle the sidebar */
.toggle-button {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  /* The sidebar panel itself */
.Settings {
    height: 100%; /* Full-height */
    width: 0; /* Initially hidden */
    position: fixed; /* Stay in place */
    top: 0;
    right: 0; /* Change 'left' to 'right' for right-side panel */
    background-color: #111; /* Dark background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* Animation for sliding */
    padding-top: 60px; /* Space from the top */
    justify-content: center;
  }
  
  /* The sidebar when open */
  .Settings.open {
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Close button inside the panel */
  .Settings .CloseButton {
    position: absolute;
    top: 0;
    right: 25px; /* Close button on the left side of the panel */
    font-size: 36px;
    color: white;
    cursor: pointer;
  }
  
  /* The links inside the sidebar */
  .Settings a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* Change color on hover */
  .Settings a:hover {
    color: #f1f1f1;
  }
  