/* The sidebar panel itself */
.SidePanel {
  height: 100%; /* Full-height */
  width: 30%;
  position: fixed; /* Stay in place */
  top: 0;
  right: 0; /* Change 'left' to 'right' for right-side panel */
  background-color: #ffffff; /* Dark background */
  overflow-x: hidden; /* Disable horizontal scroll */
  justify-content: center;
}

/* Close button inside the panel */
.SidePanel .CloseButton {
  position: absolute;
  top: 0;
  right: 25px; /* Close button on the left side of the panel */
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.SidePanel label {
  font-family: "Inter", sans-serif;
  text-align: center;

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px 0; /* Space between elements */
}

.SidePanel h3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 25px !important;
  margin-left: 35px;
}

/* The links inside the sidebar */
.SidePanel a {
  text-align: center;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px 0; /* Space between elements */
}

.SidePanel h3 {
  text-align: left;
  padding: 8px 8px 8px 8px;
  font-size: 28px;
}
/* Change color on hover */
.SidePanel a:hover {
  color: #f1f1f1;
}

.WeatherIcon {
  width: 35%; /* Adjust the size of the icon */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the icon */
  padding-top: 10%;
  filter: drop-shadow(1px 4px 0px #cfcfcf);
}

.Temperature {
  font-weight: bold;
  font-size: 54px !important;
  color: black !important;
}

.Location {
  font-weight: 200;
  font-size: 28px !important;
  color: black !important;
}

.Day {
  font-weight: 300;
  font-size: 18px !important;
  color: black !important;
}

.WeatherInfoFromAPI {
  border: 2px solid #fdd020;
  border-radius: 25px;
  padding: 0px;
  margin: 10px auto;
  width: 250px;
}

.WeatherName {
  font-weight: bold;
  font-size: 20px !important;
  color: black !important;
  margin-bottom: 5px !important;
}

.WeatherCutoffTime {
  font-weight: normal;
  font-size: 14px !important;
  color: black !important;
  margin-top: 0 !important;
}

.ActivitiesContainer {
  max-height: 300px;
  overflow-y: auto; /* Make it scrollable if content exceeds max height */
  padding: 0px 20px 0px 0px; /* Add padding to the right */
  margin-top: -20px;
  margin-left: 35px;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Activity {
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 5px 40px;
  margin: 10px 0;
  border-radius: 15px;
  border: 2px solid #fdd020;
  box-shadow: 0 2px 0px #cecece;
  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.25s;
}
.ActivityDetails {
  flex: 1;
}

.ActivityDetails h4 {
  font-weight: bold;
  font-size: 20px;
}

.ActivityDetails p {
  font-size: 15px;
  margin-top: -15px;
  margin-right: 20px;
}

.ActivityDistance {
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px !important;
  color: black !important;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}


.Activity:hover {
  animation: shake 0.5s;
  background-color: #fdd020;
  box-shadow: 0 4px 0px #cecece;
}

.ActivitiesContainer::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.ActivitiesContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.ActivitiesContainer::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.ActivitiesContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
